// Specific CSS for your home-page


#banner{
  img{
    width: 100%;
    height: 200px;
    opacity: 0.8;
    object-fit: cover;
  }
}

#presentation{
  h3{
    text-align: center;
    font-size: 1.2em;
    margin: 0 10px 10px 0;
  }
}

#card{
  height: 418px;
}
.skatemap, .asso, .actualité{
  text-align: center;
  margin: 15px;
  border: 0.5px solid grey;
  border-radius: 15px;
  padding: 10px;
  a{
    color:black;
  }

}
.skatemap:hover,.asso:hover, .actualité:hover{
  background-color: #70587C;
  transition: 0.5s;

  a{
    color: whitesmoke;
    transition: 0.5s;
  }
}

.footer {
  background: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}
