<div class="navbar">
  <div class="container-fluid d-flex justify-content-around">
    <%= link_to root_path do %>
      <i class="fas fa-home"></i>
    <% end %>
    <%= link_to new_skatespot_path do %>
    <i class="fas fa-plus-circle"></i>
    <% end %>
  </div>
</div>
