<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="header">
        <video class="header-video" muted autoplay loop>
          <source src="<%= video_path("background.mp4") %>" type="video/mp4">
        </video>
        hello les zoulettes
      </div>
    </div>

  </div>
</div>
