<div style="width: 100%; height: 800px;"
  data-controller="mapbox"
  data-mapbox-markers-value="<%= @markers.to_json %>"
  data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
<div>
  <%= link_to "Start now", new_skatespot_path, class: "btn btn-gradient" %>
</div>
