<div class="container">
  <div class="card-skatespot">
    <div class="card-show">
      <%= cl_image_tag @skatespot.photo.key %>
      <div class="card-skatespot-infos">
        <div>
          <h2><%= @skatespot.name %></h2>
          <p></p>
        </div>
      </div>
    </div>
  </div>
  <%= link_to "Delete", skatespot_path(@skatespot), :confirm => "Are you sure?", :method => :delete %>
</div>
