.card-skatespot{
  text-decoration: none;
  color: black;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);

  &:hover{
    color: black;
  }

  img{
    height: 200px;
    width: 200px;
    object-fit: cover;
  }
}
.card-show {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  img {
    height: 200px;
    width: 100%;
    object-fit: cover;
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3));
  }

  h2 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
  }

  p {
    font-size: 12px;
    opacity: .7;
    margin: 0;
  }

  .card-trip-infos {
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
  }
}

.scroll-container {
  overflow-y: scroll;
  scroll-behavior: smooth;
  height: 40vh;
  scrollbar-color: #330867 #F5F5F5;
  background-color: #fff;
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  font-size: 1.25rem;
  margin: 0 auto 1rem;
}

.scroll-container::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}

.scroll-container::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px;
}

.scroll-container::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-image: -webkit-gradient(linear, left bottom, left top, from(#2639e4), to(#b490ca));
  background-image: -webkit-linear-gradient(bottom, #5e99e7 0%, #b490ca 100%);
  background-image: linear-gradient(to top, #5e73e7 0%, #b490ca 100%);
}

.conversations p {
  border-radius: 1.15rem;
  line-height: 1.25;
  max-width: 400;
  padding: 0.5rem .875rem;
  position: relative;
  word-wrap: break-word;
}

.conversations p::before,
.conversations p::after {
  bottom: -0.1rem;
  content: "";
  height: 1rem;
  position: absolute;
}

.message-user {
  align-self: flex-end;
  background-color: #248bf5;
  color: #fff;
  border-radius: 15px;
  max-width: 400px;
}

.message-user::before {
  border-bottom-left-radius: 0.8rem 0.7rem;
  border-right: 1rem solid #248bf5;
  right: -0.35rem;
  transform: translate(0, -0.1rem);
}

.message-user::after {
  background-color: #fff;
  border-bottom-left-radius: 0.5rem;
  right: -40px;
  transform:translate(-30px, -2px);
  width: 3%;
}

p[class^="message-"] {
  margin: 0.5rem 0;
  width: fit-content;
}

.message-user ~ .message-user {
  margin: 0.25rem 0 0;
}

.message-user ~ .message-user:not(:last-child) {
  margin: 0.25rem 0 0;
}

.message-user ~ .message-user:last-child {
  margin-bottom: 0.5rem;
}

.message-other {
  align-items: flex-start;
  background-color: #e5e5ea;
  color: #000;
}

.message-other:before {
  border-bottom-right-radius: 0.8rem 0.7rem;
  border-left: 1rem solid #e5e5ea;
  left: -0.35rem;
  transform: translate(0, -0.1rem);
}

p.message-other::after {
  background-color: #fff;
  border-bottom-right-radius: 0.5rem;
  left: 20px;
  transform: translate(-30px, -2px);
  width: 10px;
}

p[class^="message-"].emoji {
  background: none;
  font-size: 2.5rem;
}

p[class^="from-"].emoji::before {
  content: none;
}

.no-tail::before {
  display: none;
}

.margin-b_none {
  margin-bottom: 0 !important;
}

.margin-b_one {
  margin-bottom: 1rem !important;
}

.margin-t_one {
  margin-top: 1rem !important;
}

@media screen and (max-width: 400px) {
  body {
    margin: 0 0.5rem;
  }

  .container {
    padding: 0.5rem;
  }

  .conversations {
    font-size: 1.05rem;
    margin: 0 auto 1rem;
    max-width: 400px;
    padding: 0.25rem 0.875rem;
  }

  .conversations p {
    margin: 0.5rem 0;
  }
}
